<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sofi Parsed Collection</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <style>
        .container{
            width: 90%;
            max-width: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <table id="inventoryTable" class="display">
            <thead>
                <tr>
                    {% for columName in columnsNames %}
                    <th>{{ columName }}</th>
                    {% endfor %}
                    <th>Filtered results</th>
                </tr>
            </thead>
            <tbody>
                {% for card in data %}
                    <tr>
                        {% for field in card %}
                            <td>{{ field }}</td>
                        {% endfor %}
                        <td>
                            <button id="Add{{ card.0 }}" class="addFilter btn btn-success">Add</button>
                            <button id="Rm{{ card.0 }}" class="rmFilter btn btn-danger">Remove</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <button id="resetFilters" class="btn btn-danger">Reset filter result</button>
        <br>
        <h5>Cards with sum of stats
            <select id="selectStats" class="form-select">
                <option value="lower">lower</option>
                <option value="higher">higher</option>
            </select>
            than:</h5>
        <input type="number" id="statsAmount" placeholder="Enter stats amount" value="450">
        <button id="addSumStatsCards" class="getCards btn btn-success">Add</button>
        <button id="rmSumStatsCards" class="getCards btn btn-danger">Remove</button>
        <br><br>
        <h5>Cards with wishlist
            <select id="selectWl" class="form-select">
                <option value="lower">lower</option>
                <option value="higher">higher</option>
            </select>
            than:</h5>
        <input type="number" id="wishlistAmount" placeholder="Enter wishlist amount" value="100">
        <button id="addWishlistCards" class="getCards btn btn-success">Add</button>
        <button id="rmWishlistCards" class="getCards btn btn-danger">Remove</button>
        <br><br>
        <h5>Cards with Gen
            <select id="selectGen" class="form-select">
                <option value="lower">lower</option>
                <option value="higher">higher</option>
            </select>
            than:</h5>
        <input type="number" id="genAmount" placeholder="Enter gen amount" value="100">
        <button id="addGenCards" class="getCards btn btn-success">Add</button>
        <button id="rmGenCards" class="getCards btn btn-danger">Remove</button>
        <br>
        <h5>Filtering results:</h5>
        <textarea id="cardCodes" rows="4" cols="50"></textarea>
        <br>
        <div>
            <button id="copyButton" class="btn btn-primary">Copy to Clipboard</button>
            <h6 id="amountCardsFiltered">Amount of card filtered: 0</h6>
        </div>
    </div>
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- Include DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script>
    $(document).ready(function() {
        const codeIndex = getFieldIndex('Code');
        const sumStatsIndex = getFieldIndex('Sum of stats');

        const table = $('#inventoryTable').DataTable({
            "order": [[sumStatsIndex, 'desc']]
        });

        $('#addSumStatsCards').click(function() {
            const cards = {{ data|safe }};
            const stats_limit = parseInt($('#statsAmount').val());
            let card_ids = '';
            const compareLower = $('#selectStats').val() === 'lower';
            for (var i = 0; i < cards.length; i++) {
                const sum_stats = parseInt(cards[i][sumStatsIndex]);
                if (compareLower && sum_stats < stats_limit) {
                    card_ids += cards[i][0] + ' ';
                } else if (!compareLower && sum_stats > stats_limit) {
                    card_ids += cards[i][0] + ' ';
                }
            }
            const current_filter_result = $('#cardCodes').val();
            const newCardCodes = current_filter_result + card_ids;
            $('#cardCodes').val(newCardCodes);
        });

        $('#addWishlistCards').click(function() {
            const cards = {{ data|safe }};
            const wishlist_index = getFieldIndex('Wishlist');
            const wishlist_limit = parseInt($('#wishlistAmount').val());
            const compareLower = $('#selectWl').val() === 'lower';
            let card_ids = '';
            for (var i = 0; i < cards.length; i++) {
                const wishlist = parseInt(cards[i][wishlist_index]);
                if (compareLower && wishlist < wishlist_limit) {
                    card_ids += cards[i][codeIndex] + ' ';
                } else if (!compareLower && wishlist > wishlist_limit) {
                    card_ids += cards[i][codeIndex] + ' ';
                }
            }
            const current_filter_result = $('#cardCodes').val();
            const newCardCodes = current_filter_result + card_ids;
            $('#cardCodes').val(newCardCodes);
        });

        $('#addGenCards').click(function() {
            const cards = {{ data|safe }};
            const gen_index = getFieldIndex('Gen');
            const gen_limit = parseInt($('#genAmount').val());
            const compareLower = $('#selectGen').val() === 'lower';
            let card_ids = '';
            for (var i = 0; i < cards.length; i++) {
                const gen = parseInt(cards[i][gen_index]);
                if (compareLower && gen < gen_limit) {
                    card_ids += cards[i][codeIndex] + ' ';
                } else if (!compareLower && gen > gen_limit) {
                    card_ids += cards[i][codeIndex] + ' ';
                }
            }
            const current_filter_result = $('#cardCodes').val();
            const newCardCodes = current_filter_result + card_ids;
            $('#cardCodes').val(newCardCodes);
        });

        $('#rmSumStatsCards').click(function() {
            const cards = {{ data|safe }};
            const stats_limit = parseInt($('#statsAmount').val());
            const current_filter_result = $('#cardCodes').val();
            let cardCodes = current_filter_result.split(' ');
            const compareLower = $('#selectStats').val() === 'lower';

            for (var i = 0; i < cards.length; i++) {
                const sum_stats = parseInt(cards[i][sumStatsIndex]);
                const cardIndexInFilter = cardCodes.indexOf(cards[i][0]);
                if (cardIndexInFilter > -1){
                    if (compareLower && sum_stats < stats_limit) {
                        cardCodes.splice(cardIndexInFilter, 1);
                    } else if (!compareLower && sum_stats > stats_limit) {
                        cardCodes.splice(cardIndexInFilter, 1);
                    }
                }
            }
            const newCardCodes = cardCodes.join(' ');
            $('#cardCodes').val(newCardCodes);
            $('#amountCardsFiltered').text('Amount of card filtered: ' + (newCardCodes.length-1));
        });

        $('#rmWishlistCards').click(function() {
            const cards = {{ data|safe }};
            const wishlist_index = getFieldIndex('Wishlist');
            const wishlist_limit = parseInt($('#wishlistAmount').val());
            const current_filter_result = $('#cardCodes').val();
            let cardCodes = current_filter_result.split(' ');
            const compareLower = $('#selectWl').val() === 'lower';

            for (var i = 0; i < cards.length; i++) {
                const wlAmount = parseInt(cards[i][wishlist_index]);
                const cardIndexInFilter = cardCodes.indexOf(cards[i][0]);
                if (cardIndexInFilter > -1){
                    if (compareLower && wlAmount < wishlist_limit) {
                        cardCodes.splice(cardIndexInFilter, 1);
                    } else if (!compareLower && wlAmount > wishlist_limit) {
                        cardCodes.splice(cardIndexInFilter, 1);
                    }
                }
            }
            const newCardCodes = cardCodes.join(' ');
            $('#cardCodes').val(newCardCodes);
            $('#amountCardsFiltered').text('Amount of card filtered: ' + (newCardCodes.length-1));
        });

        $('#rmGenCards').click(function() {
            const cards = {{ data|safe }};
            const gen_index = getFieldIndex('Gen');
            const gen_limit = parseInt($('#genAmount').val());
            const current_filter_result = $('#cardCodes').val();
            let cardCodes = current_filter_result.split(' ');
            const compareLower = $('#selectGen').val() === 'lower';

            for (var i = 0; i < cards.length; i++) {
                const gen = parseInt(cards[i][gen_index]);
                const cardIndexInFilter = cardCodes.indexOf(cards[i][0]);
                if (cardIndexInFilter > -1){
                    if (compareLower && gen < gen_limit) {
                        cardCodes.splice(cardIndexInFilter, 1);
                    } else if (!compareLower && gen > gen_limit) {
                        cardCodes.splice(cardIndexInFilter, 1);
                    }
                }
            }
            const newCardCodes = cardCodes.join(' ');
            $('#cardCodes').val(newCardCodes);
            $('#amountCardsFiltered').text('Amount of card filtered: ' + (newCardCodes.length-1));
        });

        $('#copyButton').click(function() {
            var copyText = document.getElementById("cardCodes");
            copyText.select();
            copyText.setSelectionRange(0, 99999); // For mobile devices
            document.execCommand("copy");
        });

        $('#resetFilters').click(function() {
            $('#cardCodes').val('');
            $('#amountCardsFiltered').text('Amount of card filtered: 0');
        });

        $('.getCards').click(function() {
            removeDuplicatesFilterResult()
            const cardCodes = $('#cardCodes').val().split(' ');
            $('#amountCardsFiltered').text('Amount of card filtered: ' + (cardCodes.length-1));
        });

        table.on('click', '.addFilter', function() {
            const cardCode = $(this).attr('id').substring(3);
            const current_filter_result = $('#cardCodes').val();
            const newCardCodes = current_filter_result + cardCode + ' ';
            $('#cardCodes').val(newCardCodes);
            removeDuplicatesFilterResult();
            const cardCodes = $('#cardCodes').val().split(' ');
            $('#amountCardsFiltered').text('Amount of card filtered: ' + (cardCodes.length-1));
        });

        table.on('click', '.rmFilter', function() {
            const cardCode = $(this).attr('id').substring(2);
            const current_filter_result = $('#cardCodes').val();
            const cardCodes = current_filter_result.split(' ');
            const deletedCardIndex = cardCodes.indexOf(cardCode);
            if (deletedCardIndex > -1) {
                cardCodes.splice(deletedCardIndex, 1);
            }
            $('#cardCodes').val(cardCodes.join(' '));
            $('#amountCardsFiltered').text('Amount of card filtered: ' + (cardCodes.length-1));
        });

    });

    function getFieldIndex(columnName) {
        const columns = {{ columnsNames|safe }};
        return columns.indexOf(columnName);
    }

    function removeDuplicatesFilterResult() {
        var ids = $('#cardCodes').val().split(' ');
        var uniqueIds = [...new Set(ids)];
        $('#cardCodes').val(uniqueIds.join(' '));
    }
    </script>
</body>
</html>